#add-collection, #add-tag{
  font-size: em(14);
  text-decoration: none;
  color: $midgray;

  &:hover{
    color: darken($midgray, 15%);
  }
  .icon{
    margin-top: em(3);
  }
  .no-icon{
    line-height: em(30);
    padding-left: em(34);
    padding-right: em(70);
    padding-bottom: em(10);
    display: block;
    height: em(30);
  }
  a{
    float: right;
    font-weight: 500;
    background: transparent;
    border-radius: 3px;
    font-size: em(14);
    padding: em(3) em(7) em(2);
    border: 1px solid rgba(143,149,162,0.20);
    color: #5A90E2;
    text-decoration: none;
    line-height: 19px;
    @include transition( all 0.15s ease-in-out);

    &:hover{
      border: 1px solid rgba(143,149,162,0.50);
    }
  }
  input{

    @include transition (0.15s all cubic-bezier(0.570, 0.065, 0.430, 1.505));
  }
}

.click-to-add, .click-to-edit, .settings-account .edit-username.click-to-edit{
  cursor: pointer;
  position: relative;
  height: em(30);
  .icon{
    width: em(29);
  }
  div{
    position: absolute;
    top: 0;
    left: 0;
    width: em(240);
    height: em(30);


  }
  @include input-underline;
}

.click-to-edit, .settings-account .edit-username.click-to-edit{
  display: inline-block;
  width: auto; // causes bugs in safari?
  span{
    @include transition( background-position 0.15s ease-in-out);
    background: url('../img/interface/icons/icons.png') 0 -460px repeat-x
  }
  span:hover{
    background-position: 0 -475px;
  }
  div{
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    min-width: em(130);
  }
  .no-icon{
    padding-left: em(5);
  }
  input{
    width: auto;
    line-height: 1.3;
    min-width: em(10);
    padding-right: em(5);
    padding-top: em(0);
    color: $black;
    opacity: 1;
    background: url('../img/interface/icons/icons.png') 0 -475px repeat-x;
  }

  button{
    font-weight: 500;
    background: transparent;
    border-radius: 3px;
    font-size: em(13);
    padding: em(4) em(7);
    margin-left: em(5);
    border: 1px solid rgba(143,149,162,0.20);
    line-height: 19px;
    @include transition( border 0.15s ease-in-out);

    &:hover{
      border: 1px solid rgba(143,149,162,0.50);
    }
  }
}
