#onboard-dropbox-auth, #onboard-dropbox-init{
  position: fixed;
  z-index: 100000;
  left:0;right:0;top:0;bottom:0;
  background: $white;

  text-align: center;
  padding: 10%;
  color: $black;
  h3{
    font-size: em(18);
    font-weight: 600;
  }

  a{
    color: $blue;
    text-decoration: none;
    font-weight: 600;

    &:hover{
      text-decoration: underline;
    }
  }
}
