// Load JS Stuff Here

a(href="http://useoctobox.com/" id="footer") Learn about Octobox

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')