head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')


  title Welcome to Octobox
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="octobox, dropbox, organize, store, research, evernote alternative")
  meta(name="description", content="Octobox - Organization for busy minds.")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='/img/apple-touch-icon.png' rel='apple-touch-icon')

  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Octobox - Organization for busy minds.')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Octobox')

  link(href='../lib/normalize.css/normalize.css', rel='stylesheet', type='text/css')
  link(href='../css/login.css', rel='stylesheet', type='text/css')


  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
