/* Styles for the login/signup forms */

body{
    color: #fff;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
    background: #2A5491 url("../img/landing/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    text-align: center;
}

#logo{
    margin: 70px auto 20px auto;
    width: 80px;
    height: 80px;
    display: block;
}
h1{
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #A7B8DC;
    line-height: 19px;
    margin-bottom:40px;
}
h1 span{
    display: block;
    font-style: normal;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 200;
}
p{
    font-weight: 400;
    font-size: 16px;
    color: #A7B8DC;
    line-height: 19px;
}
p a{
    font-weight: 600;
    color: #fff;
    display: inline;
    font-style: normal;
    text-decoration: none;
}
a{
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #A7B8DC;
    line-height: 19px;
    display: block;
    text-decoration: none;
    margin-bottom:40px;
}
#footer{
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    text-align: center;
    left: 0;
    right: 0;
}
@media screen and (max-height: 620px) {
  #footer{
      position: relative;

  }
}

legend{
    font-style: italic;
    font-size: 14px;
    color: #A7B8DC;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
strong{
    display: block;
    margin-bottom: 30px;
}

input{
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8A9FD3;
    padding: 9px 15px 3px;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    margin-bottom:20px;
    display: block;
    font-weight: 600;
}
input:focus{
    outline-width: 0;

}
input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 50px #6982C7 inset;
    -webkit-text-fill-color: #fff;
}
:focus::-webkit-input-placeholder  {
    color:    #FFF;
}
:focus:-moz-placeholder {
    color:    #FFF;
}
:focus::-moz-placeholder {
    color:    #FFF;
}
:focus:-ms-input-placeholder {
    color:    #FFF;
}
input:hover::-webkit-input-placeholder  {
    color:    #FFF;
}
input:hover:-moz-placeholder {
    color:    #FFF;
}
input:hover::-moz-placeholder {
    color:    #FFF;
}
input:hover:-ms-input-placeholder {
    color:    #FFF;
}
::-webkit-input-placeholder {
    color:    #AAB5DD;
    font-weight: 400;
}
:-moz-placeholder {
    color:    #AAB5DD;
    opacity:  1;
    font-weight: 400;
}
::-moz-placeholder {
    color:    #AAB5DD;
    opacity:  1;
    font-weight: 400;
}
:-ms-input-placeholder {
    color:    #AAB5DD;
    font-weight: 400;
}

button[type="submit"]{
    border: 0px solid #3A3385;
    background: #3F41A1;
    padding: 14px 50px;
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}
button:hover{
    padding: 14px 50px 11px;
    border-bottom: 3px solid #3A3385;
}
button:active{
    margin-top:12px;
}

form{
    width: 290px;
    margin: 0 auto;
}

svg {
  height: 100%;
  width: 100%;
}

/* Webfont: LatoLatin-Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Bold.woff") format("woff"), url("../fonts/LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
/* Webfont: LatoLatin-Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Italic.woff") format("woff"), url("../fonts/LatoLatin-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatin-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Regular.woff") format("woff"), url("../fonts/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
/* Webfont: LatoLatinLight-Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatinLight-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatinLight-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatinLight-Regular.woff") format("woff"), url("../fonts/LatoLatinLight-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
/* Webfont: LatoLatinMed-Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoLatinMed-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatinMed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatinMed-Regular.woff") format("woff"), url("../fonts/LatoLatinMed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Lato";
    src: url("../fonts/LatoLatinLight-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility; }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/LatoLatin-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility; }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/LatoLatin-Italic.svg") format("svg");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility; }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/LatoLatin-Bold.svg") format("svg");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility; }
  @font-face {
    font-family: "Lato";
    src: url("../fonts/LatoLatin-Bold.svg") format("svg");
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility; } }
