	<!-- Partial from ../index.html -->
	<div id="onboard-dropbox-auth">
		<img src="img/onboard/logo-large.png" alt="Octobox Logo" />
		<h3>Hello and thanks for choosing Octobox!</h3>
		<p>
			Octobox is a tool to collect inspiration, notes, links and everything else that comes to your mind,
			and save it directly to your Dropbox drive - we don't host any of your files (only links!).
			This way, your files are never deleted and you can easily access revisions via Dropbox.
		<p>
			Oh, and <a href="img/onboard/screenshot.jpg" target="_blank">here's how</a> it all looks like!
		</p>
		<p>
			Please <a href="/authorize">connect your Dropbox</a> account to start using Octobox - and have fun!
		</p>
	</div>
