<section id="content-filters" ng-controller="FiltersController">
  <div id="filters-left">
    <div class="fold-sidebar-toggle" ng-click="toggleSidebar()">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="9px" height="26px" viewBox="0 0 9 26" enable-background="new 0 0 9 26" xml:space="preserve">
      <g class="burger-icon">
          <linearGradient id="vertical-line_1_" gradientUnits="userSpaceOnUse" x1="-2.182787e-11" y1="307.3125" x2="2.306872e-11" y2="306.3125" gradientTransform="matrix(1 0 0 -24 1.5 7376)">
          <stop  offset="0" style="stop-color:#FFFFFF"/>
          <stop  offset="0.15" style="stop-color:#99A1B5"/>
          <stop  offset="0.85" style="stop-color:#99A1B5"/>
          <stop  offset="1" style="stop-color:#FFFFFF"/>
        </linearGradient>
        <path id="vertical-line" fill="none" stroke="url(#vertical-line_1_)" d="M1.5,0.5v24"/>
        <path id="line-bottom" fill="#99A1B5" d="M2,16h6c0.552,0,1,0.448,1,1v1c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-1
          C1,16.448,1.448,16,2,16z"/>
        <path id="line-middle" fill="#99A1B5" d="M2,11h6c0.552,0,1,0.448,1,1v1c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-1
          C1,11.448,1.448,11,2,11z"/>
        <path id="line-top" fill="#99A1B5" d="M2,6h6c0.552,0,1,0.448,1,1v1c0,0.552-0.448,1-1,1H2C1.448,9,1,8.552,1,8V7
          C1,6.448,1.448,6,2,6z"/>
      </g>
      </svg>
    </div>
    <div class="sort-by">
      Sort by:
      <select ng-model="global.activeSort" ng-options="sort.name for sort in global.selectSort"></select>
    </div>
    <!-- <div class="show-kind">
      Show:
      <select ng-model="global.activeFilter" ng-options="filter.name for filter in global.selectFilter"></select>
    </div> -->
    <div class="items-total"><span ng-bind='global.activeView.count'>0</span> items</div>
  </div>
  <div id="filters-right">
    <section class="icon-more">
      <div class="dropdown-trigger"
           ng-show="!moreMenuDisabled"
           dropdown-menu="activeMoreMenu"
           dropdown-model="filtersMoreMenuSelected"
           dropdown-item-label="text"
           dropdown-onchange="editContent(selected)">
          <span></span>
      </div>
    </section>
  </div>
</section>
