<section ng-controller="FileController" ng-init="findOne()">
		<span ng-if="file.type === 'note'">Modified {{file.modified}}</span>
		<h2>Editing: {{file.name}}</h2>
		<div>
				<a class="btn" href="#/file/{{file.name}}/edit">
					rename
				</a>
				<a class="btn" ng-click="remove();">
					remove
				</a>
		</div>
		Last modified: {{file.modified}}
		<h3>Tags</h3>
		<h4>Current Tags:</h4>
		<!-- Tags assigned to the item -->
		<ul id="current-tags">
				<li class="current-tag" ng-repeat="tag in file.tags">
						<h4><a ng-href="#/tags/{{tag.name}}">{{tag.name}}</a></h4>
						<button ng-click="unassignTag(tag, file)">Remove</button>
				</li>
		</ul>
		<!-- List of all tags -->
		<section ng-controller="TagsController" id="edit-tags" ng-init="findAndCheck()">
				<h4>All Tags:</h4>
				<ul id="inline-tags">
						<li class="inline-tag" ng-repeat="tag in tags">
								<h4><a ng-href="#/tag/{{tag.name}}">{{tag.name}}</a></h4>
								<button ng-if="!tag.exists" ng-click="assignTag(tag, file)">Add</button>
								<button ng-if="tag.exists" ng-click="unassignTag(tag, file)">Remove</button>
						</li>
				</ul>
				<!-- TODO: full tag list hidden/unloaded by default. load on click (and refresh tag.exists) -->
				<p ng-hide="!tags || tags.length">No tags</p>
		</section>

		<div>
			<!-- Thumbnail -->
			<div ng-if="file.hasThumbnail" class="file-full">
				<img ng-init="getThumbnail(file)" ng-src="{{ file.thumbnailUrl }}" />
			</div>
			<!-- Note Excerpt -->
			<div ng-if="file.type === 'note'" class="list-excerpt">
				<p ng-init="getContent(file)" class="note-full">{{file.content}}</p>
			</div>
			<!-- TODO: Other Files - download -->
		</div>
</section>
